# Data and heavy files
data/
*.log
*.pkl
*.zip
*.zip.*
*.csv
hdfs_sequences.pkl
anomaly_label.csv

# Models (Too large for GitHub)
models/
bert_log_model.pth
bert_log_checkpoint.pth

# Environments and OS
log_env/
__pycache__/
.DS_Store
